
#center-box {
	width:200px;
	height:200px;
	background-color:lightblue;
 border:2px soild black;
	position: absolute;
  top: 50%;
  left: 50%;
	
  /* add the size and color properties here */
}
#center-box p {
	
  /* add the properties to center the text here */
}